.talk {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.talk .header {
  height: 80px;
}

.talk .content {
  flex: 1 0 0;
  display: block;
}

.talk .content img {
  width: 100%;
}