.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app .content {
  flex: 1 0 0;
  display: flex;
  overflow-y: hidden;
  background-color: #f7f5f6;
}

.app .bottom {
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 8px 16px;
}

.app .bottom .item {
  width: 36px;
  height: 100%;
}